/* apps/web/src/styles/global.css */
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';

html {
  scroll-behavior: smooth;
  background: #0a0a0a;
  color: white;
  font-family: 'Inter', sans-serif;
}