@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent-light)),
    rgb(var(--accent-dark)) 30%,
    white 60%
  );
}